{% extends "base.html" %}

{% block title %}
  {{ url_for('products') }}
{% endblock %}


{% block content %}


<!-- Button trigger modal for adding a product -->
<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addProductModal">
  + product
</button>

<!-- Modal popup for adding product information -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form action="{{ url_for('add_product')}}" method="POST">

        <div class="modal-header">
          <h5 class="modal-title" id="addProductModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <table class="table table-striped-columns">
            <tr><td>Name</td><td><input class="form-control" type="text" name="name" value=""></td></tr>
            <tr><td>Brand</td><td><input class="form-control" type="text" name="brand" value=""></td></tr>
            <tr><td>Store</td><td><input class="form-control" type="text" name="store" value=""></td></tr>
            <tr><td>Category</td><td><input class="form-control" type="text" name="category" value=""></td></tr>
            <tr><td>Gluten</td><td><input class="form-control" type="text" name="gluten" value=""></td></tr>
            <tr><td>Price</td><td><input class="form-control" type="text" name="price" value=""></td></tr>
          </table>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save-fill"></i></button>
        </div>

      </form>

    </div>
  </div>
</div>




<table class="table table-striped">
  <th>Name</th>
  <th>Store</th>
  <th>Added to grocery list</th>

  {% for product in products %}
    <tr>
      <td>

        <!-- Button trigger modal for updating products -->
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#productModal{{ product.id }}"><i class="bi bi-info"></i></button>

        <!-- Modal popup for updating product information -->
        <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <form action="{{ url_for('update_product', product_id=product.id)}}" method="POST">

                <div class="modal-header">
                  <h5 class="modal-title" id="productModalLabel">{{ product.name }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <table class="table table-striped-columns">

                    <tr><td>Name</td><td><input class="form-control" type="text" name="name" value="{{ product.name }}"></td></tr>
                    <tr><td>Brand</td><td><input class="form-control" type="text" name="brand" value="{{ product.brand }}"></td></tr>
                    <tr><td>Store</td><td><input class="form-control" type="text" name="store" value="{{ product.store }}"></td></tr>
                    <tr><td>Category</td><td><input class="form-control" type="text" name="category" value="{{ product.category }}"></td></tr>
                    <tr><td>Gluten</td><td><input class="form-control" type="text" name="gluten" value="{{ product.gluten }}"></td></tr>
                    <tr><td>Price</td><td><input class="form-control" type="text" name="price" value="{{ product.price }}"></td></tr>
                    <tr><td>Updated</td><td>{{ product.updated}}</td></tr>

                  </table>
                </div>

                <div class="modal-footer">


                  <button type="submit" class="btn btn-danger btn" value="Delete" name="delete_product"><i class="bi bi-trash-fill"></i></button>
                  <button type="submit" class="btn btn-primary btn"><i class="bi bi-save-fill"></i></button>
                </div>

              </form>

            </div>
          </div>
        </div>
        {{ product.name}}
      </td>
      <td>{{ product.store}}</td>
      <td>
        <form action="{{ url_for('add_product_to_grocery_list', product_id=product.id)}}" method="POST">
          <div class="btn-group">
            {% if product.in_list %}
            <button class="btn btn-danger btn-sm" type="submit"">
              <i class="bi bi-plus-slash-minus"></i>
            </button>

            {% else %}
                <button class="btn btn-success btn-sm" type="submit"">
                  <i class="bi bi-plus-slash-minus"></i>
                </button>

            {% endif %}
          </div>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>


{% endblock %}
